.conatainerSize{
display: flex;
flex-direction: column;
align-items: center;

}

.container{
 display: flex;
 margin: auto;
 width: 95%;
 flex-wrap: wrap;
 flex-direction: row;
 gap: 2rem;
align-items: center;

}
.containerImg{
    display: flex;
    width: 18%;

}