.corpoDois{
    display:grid;
    grid-template-columns: 1fr 1fr;
    }
    
    .imagemDiv{
      height: 400px;
    }
    .contato{
      display: flex;
      flex-direction: column;
      width: 500px;
     
    }
    
    .tituloContato{
      text-align: center;
    }
    
    
    .caixasDiv{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
    
    .caixasInputs{
      height: 27px;
    }
    
    .caixaTexto{
      height: 100px;
      border-radius: 5px;
     
    }
    
    .botao{
      height: 35px;
      background: crimson;
      color: white;
      border: crimson;
      border-radius: 5px;
    
    }