.body{
  /* display: flex;
  justify-content: space-around; */
  }

.imagemDiv{
  background: chartreuse;
  width:400px ;
  height: 400px;

 }
.contato{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.tituloContato{
  text-align: center;
}


.caixasDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.caixasInputs{
  height: 25px;
}

.caixaTexto{
  height: 80px;
  border-radius: 5px;
 
}

.botao{
  height: 35px;
  background: crimson;
  color: white;
  border: crimson;
  border-radius: 5px;

}