.body{
display: flex;
flex-direction: column;
background: #FFFDF8;
  }

.corpoDois{
  display: flex;
  margin: auto;
}

.imagemDiv{
  
  width: 500px;
}
.contato{
  display: flex;
  flex-direction: column;
  width: 500px;
 
}

.tituloContato{
  text-align: center;
}


.caixasDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.caixasInputs{
  height: 27px;
}

.caixaTexto{
  height: 100px;
  border-radius: 5px;
 
}

.botao{
  height: 35px;
  background: crimson;
  color: white;
  border: crimson;
  border-radius: 5px;

}